@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./webfonts/iconfont.eot");
  src: url("./webfonts/iconfont.eot") format("embedded-opentype"),
    url("./webfonts/iconfont.ttf") format("truetype"),
    url("./webfonts/iconfont.woff") format("woff"),
    url("./webfonts/iconfont.woff2") format("woff2"),
    url("./webfonts/iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.toastui-editor-icon {
  font-family: "Iconify Explorer Font" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.toastui-editor-icon.align-center:before {
  content: "\e001";
}

.toastui-editor-icon.align-left:before {
  content: "\e002";
}

.toastui-editor-icon.align-right:before {
  content: "\e003";
}

.toastui-editor-icon.bold:before {
  content: "\e004";
}

.toastui-editor-icon.code:before {
  content: "\e005";
}

.toastui-editor-icon.ellipsis:before {
  content: "\e006";
}

.toastui-editor-icon.heading:before {
  content: "\e007";
}

.toastui-editor-icon.image:before {
  content: "\e008";
}

.toastui-editor-icon.indent:before {
  content: "\e009";
}

.toastui-editor-icon.italic:before {
  content: "\e00a";
}

.toastui-editor-icon.link:before {
  content: "\e00b";
}

.toastui-editor-icon.task-list:before {
  content: "\e00c";
}

.toastui-editor-icon.ordered-list:before {
  content: "\e00d";
}

.toastui-editor-icon.bullet-list:before {
  content: "\e00e";
}

.toastui-editor-icon.hrline:before {
  content: "\e00f";
}

.toastui-editor-icon.outdent:before {
  content: "\e010";
}

.toastui-editor-icon.pencil:before {
  content: "\e011";
}

.toastui-editor-icon.quote:before {
  content: "\e012";
}

.toastui-editor-icon.strike:before {
  content: "\e013";
}

.toastui-editor-icon.table:before {
  content: "\e014";
}

.toastui-editor-icon.table-column-plus-after:before {
  content: "\e015";
}

.toastui-editor-icon.table-column-plus-before:before {
  content: "\e016";
}

.toastui-editor-icon.table-column-remove:before {
  content: "\e017";
}

.toastui-editor-icon.table-edit:before {
  content: "\e018";
}

.toastui-editor-icon.table-merge-cells:before {
  content: "\e019";
}

.toastui-editor-icon.table-remove:before {
  content: "\e01a";
}

.toastui-editor-icon.table-row-plus-after:before {
  content: "\e01b";
}

.toastui-editor-icon.table-row-plus-before:before {
  content: "\e01c";
}

.toastui-editor-icon.table-row-remove:before {
  content: "\e01d";
}

.toastui-editor-icon.table-split-cell:before {
  content: "\e01e";
}

.toastui-editor-icon.table-align-item-horizontal-center-line:before {
  content: "\e01f";
}

.toastui-editor-icon.table-align-item-left-line:before {
  content: "\e020";
}

.toastui-editor-icon.table-align-item-right-line:before {
  content: "\e021";
}

.toastui-editor-icon.codeblock:before {
  content: "\e022";
}
