/* Context Menu Styles */
.toastui-editor-context-menu {
    position: absolute;
    width: auto;
    min-width: 197px;
    border-radius: var(--toastui-editor-border-radius);
    box-shadow: var(--toastui-editor-box-shadow);
    border: 1px solid var(--toastui-editor-border-color);
    z-index: 30;
    padding: .25rem;
    background-color: var(--toastui-editor-secondary-bg-color);
    color: var(--toastui-editor-color);
}

.toastui-editor-context-menu .menu-group {
    list-style: none;
    border-bottom: 1px solid var(--toastui-editor-border-color);
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.toastui-editor-context-menu .menu-group:last-child {
    border-bottom: none !important;
}

.toastui-editor-context-menu .menu-item {
    height: 32px;
    line-height: 32px;
    padding: 0 14px;
    cursor: pointer;
    border-radius: var(--toastui-editor-border-radius);
    display: flex;
    align-items: center;
}

.toastui-editor-context-menu .menu-item:hover {
    background-color: var(--toastui-editor-primary-bg-subtle);
    color: var(--toastui-editor-primary-text-emphasis);
}

.toastui-editor-context-menu .menu-item i {
    font-size: 1.2rem;
    display: inline-block;
    margin-right: .5rem;
}

.toastui-editor-context-menu span {
    display: inline-block;
}
