/* Toolbar Styles */
.toastui-editor-defaultUI-toolbar {
    display: flex;
    padding: 0 .5rem;
    height: 45px;
    background-color: var(--toastui-editor-secondary-bg-color);
    border-bottom: 1px solid var(--toastui-editor-border-color);
}

.toastui-editor-toolbar {
    height: 46px;
    box-sizing: border-box;
}

.toastui-editor-toolbar-divider {
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: var(--toastui-editor-border-color);
    margin: 14px 12px;
}

.toastui-editor-toolbar-group {
    display: -ms-flexbox;
    display: flex;
}

.toastui-editor-defaultUI-toolbar button {
    box-sizing: border-box;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: var(--toastui-editor-border-radius);
    margin: 7px 5px;
    border: 1px solid transparent;
}

.toastui-editor-defaultUI-toolbar .scroll-sync {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}

.toastui-editor-defaultUI-toolbar .scroll-sync::before {
    content: 'Scroll';
    position: absolute;
    left: 0;
    font-size: 14px;
}

.toastui-editor-defaultUI-toolbar .scroll-sync.active::before {
    color: var(--toastui-editor-color);
}

.toastui-editor-defaultUI-toolbar .scroll-sync input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toastui-editor-defaultUI-toolbar .switch {
    position: absolute;
    top: 0;
    left: 45px;
    right: 0;
    bottom: 0;
    background-color: var(--toastui-editor-toolbar-switch-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
}

.toastui-editor-defaultUI-toolbar input:checked+.switch {
    background-color: var(--toastui-editor-toolbar-switch-bg-color-checked);
}

.toastui-editor-defaultUI-toolbar .switch::before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 0px;
    bottom: -2px;
    background-color: var(--toastui-editor-toolbar-switch-before-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--toastui-editor-border-radius);
}

.toastui-editor-defaultUI-toolbar input:checked+.switch::before {
    background-color: var(--toastui-editor-toolbar-switch-bg-color-checked-light);
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.toastui-editor-dropdown-toolbar .scroll-sync {
    margin: 0 5px;
}

.toastui-editor-dropdown-toolbar {
    position: absolute;
    height: 46px;
    z-index: 30;
    border-radius: var(--toastui-editor-border-radius);
    box-shadow: var(--toastui-editor-box-shadow);
    border: 1px solid var(--toastui-editor-border-color);
    background-color: var(--toastui-editor-secondary-bg-color);
    display: -ms-flexbox;
    display: flex;
}

.toastui-editor-toolbar-item-wrapper {
    margin: 7px 5px;
    height: 32px;
    line-height: 32px;
}

.toastui-editor-tooltip {
    position: absolute;
    background-color: var(--toastui-editor-secondary-bg-color);
    z-index: 40;
    padding: 4px 7px;
    font-size: 12px;
    border-radius: var(--toastui-editor-border-radius);
    border: 1px solid var(--toastui-editor-border-color);
    box-shadow: var(--toastui-editor-box-shadow);
    color: var(--toastui-editor-color);
}

.toastui-editor-tooltip .arrow {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--toastui-editor-secondary-bg-color);
    border: 1px solid var(--toastui-editor-border-color);
    border-bottom: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: 6px;
    z-index: -1;
}

.toastui-editor-toolbar-icons {
    background: url('../../img/toastui-editor.png') no-repeat;
    background-size: 466px 146px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    .toastui-editor-toolbar-icons,
    .toastui-editor-context-menu span::before {
        background: url('../../img/toastui-editor-2x.png') no-repeat;
        background-size: 466px 146px;
    }
}

.toastui-editor-toolbar-icons {
    background-position-y: 3px;
}


.toastui-editor-toolbar-icons[disabled="true"],
.toastui-editor-toolbar-icons:disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.toastui-editor-toolbar-icons.heading {
    background-position-x: 3px;
}

.toastui-editor-toolbar-icons.bold {
    background-position-x: -23px;
}

.toastui-editor-toolbar-icons.italic {
    background-position-x: -49px;
}

.toastui-editor-toolbar-icons.strike {
    background-position-x: -75px;
}

.toastui-editor-toolbar-icons.hrline {
    background-position-x: -101px;
}

.toastui-editor-toolbar-icons.quote {
    background-position-x: -127px;
}

.toastui-editor-toolbar-icons.bullet-list {
    background-position-x: -153px;
}

.toastui-editor-toolbar-icons.ordered-list {
    background-position-x: -179px;
}

.toastui-editor-toolbar-icons.task-list {
    background-position-x: -205px;
}

.toastui-editor-toolbar-icons.indent {
    background-position-x: -231px;
}

.toastui-editor-toolbar-icons.outdent {
    background-position-x: -257px;
}

.toastui-editor-toolbar-icons.table {
    background-position-x: -283px;
}

.toastui-editor-toolbar-icons.image {
    background-position-x: -309px;
}

.toastui-editor-toolbar-icons.link {
    background-position-x: -334px;
}

.toastui-editor-toolbar-icons.code {
    background-position-x: -361px;
}

.toastui-editor-toolbar-icons.codeblock {
    background-position-x: -388px;
}

.toastui-editor-toolbar-icons.more {
    background-position-x: -412px;
}

.toastui-editor-toolbar-icons:not(:disabled).active {
    background-position-y: -23px;
}

/* toolbar popup */
.toastui-editor-popup {
    width: 400px;
    margin-right: auto;
    background: var(--toastui-editor-secondary-bg-color);
    z-index: 30;
    position: absolute;
    border-radius: var(--toastui-editor-border-radius);
    box-shadow: var(--toastui-editor-box-shadow);
    border: 1px solid var(--toastui-editor-border-color);
}

.toastui-editor-popup-body {
    padding: 15px;
    font-size: 12px;
}

.toastui-editor-popup-body label {
    font-weight: 600;
    color: var(--toastui-editor-color);
    display: block;
    margin: 20px 0 5px;
}

.toastui-editor-popup-body .toastui-editor-button-container {
    text-align: right;
    margin-top: 20px;
}

.toastui-editor-popup-body input[type='text'] {
    padding: 4px 8px;
    width: 100%;
    border: 1px solid var(--toastui-editor-border-color);
    border-radius: var(--toastui-editor-border-radius);
    font-size: 12px;
    background-color: var(--toastui-editor-bg-color);
    color: var(--toastui-editor-color);
}

.toastui-editor-popup-body input[type='text']:focus {
    outline: 1px solid var(--toastui-editor-color-primary);
    border-color: transparent;
}

.toastui-editor-popup-body input[type='text'].disabled {
    background-color: var(--toastui-editor-color-muted);
    border-color: var(--toastui-editor-border-color);
    color: var(--toastui-editor-color);
}

.toastui-editor-popup-body input[type='file'] {
    opacity: 0;
    border: none;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
}

.toastui-editor-popup-body button {
    width: 64px;
    margin: 0 .25rem;
    background-color: var(--toastui-editor-secondary-bg-color);
    border: 1px solid var(--toastui-editor-border-color);
    border-radius: var(--toastui-editor-border-radius);
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.toastui-editor-popup-body .toastui-editor-ok-button {
    border-color: var(--toastui-editor-color-success);
}

.toastui-editor-popup-body input.wrong,
.toastui-editor-popup-body span.wrong {
    border-color: var(--toastui-editor-color-danger);
}

.toastui-editor-popup-add-link .toastui-editor-popup-body,
.toastui-editor-popup-add-image .toastui-editor-popup-body {
    padding: 0 20px 20px;
}

.toastui-editor-popup-add-image .toastui-editor-tabs {
    margin: 5px 0 10px;
}

.toastui-editor-popup-add-image .toastui-editor-tabs .tab-item {
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid var(--toastui-editor-border-color);
    color: var(--toastui-editor-color);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.toastui-editor-popup-add-image .toastui-editor-tabs .tab-item:hover {
    border-bottom: 1px solid var(--toastui-editor-accent-color);
}

.toastui-editor-popup-add-image .toastui-editor-tabs .tab-item.active {
    color: var(--toastui-editor-color);
    border-bottom: 2px solid var(--toastui-editor-accent-color);
}

.toastui-editor-popup-add-image .select-file-container {
    display: flex;
    align-items: center;
}

.toastui-editor-popup-add-image .toastui-editor-file-name {
    flex-grow: 1;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding: 4px 8px;
    width: 100%;
    height: 24px;
    border: 1px solid var(--toastui-editor-border-color);
    border-radius: var(--toastui-editor-border-radius);
    font-size: 12px;
    background-color: var(--toastui-editor-bg-color);
    color: var(--toastui-editor-color);
}

.toastui-editor-popup-add-image .toastui-editor-file-select-button {
    min-width: 100px;
    height: 24px;
    padding: 0 8px;
    margin-left: 5px;
    border-radius: var(--toastui-editor-border-radius);
    border: 1px solid var(--toastui-editor-border-color);
}

.toastui-editor-popup-add-table {
    width: auto;
}

.toastui-editor-popup-add-table .toastui-editor-table-selection {
    position: relative;
}

.toastui-editor-popup-add-table .toastui-editor-table-cell {
    display: table-cell;
    width: 20px;
    height: 20px;
    border: 1px solid var(--toastui-editor-border-color);
    background-color: var(--toastui-editor-bg-color);
    box-sizing: border-box;
}

.toastui-editor-popup-add-table .toastui-editor-table-cell.header {
    background: var(--toastui-editor-secondary-bg-color);
}

.toastui-editor-popup-add-table .toastui-editor-table-row {
    display: table-row;
}

.toastui-editor-popup-add-table .toastui-editor-table {
    display: table;
    border-collapse: collapse;
}

.toastui-editor-popup-add-table .toastui-editor-table-selection-layer {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--toastui-editor-border-color);
    background: rgba(0, 169, 255, 0.1);
    z-index: 30;
}

.toastui-editor-popup-add-table .toastui-editor-table-description {
    margin: 5px 0 0;
    text-align: center;
    color: var(--toastui-editor-color)
}

.toastui-editor-popup-add-heading {
    width: auto;
}

.toastui-editor-popup-add-heading .toastui-editor-popup-body {
    padding: 0 .5rem;
}

.toastui-editor-popup-add-heading h1,
.toastui-editor-popup-add-heading h2,
.toastui-editor-popup-add-heading h3,
.toastui-editor-popup-add-heading h4,
.toastui-editor-popup-add-heading h5,
.toastui-editor-popup-add-heading h6,
.toastui-editor-popup-add-heading ul,
.toastui-editor-popup-add-heading p {
    padding: 0;
    margin: 0;
}

.toastui-editor-popup-add-heading ul {
    padding: 5px 0;
    list-style: none;
}

.toastui-editor-popup-add-heading ul li {
    padding: 4px 12px;
    border-radius: var(--toastui-editor-border-radius);
    cursor: pointer;
}

.toastui-editor-popup-add-heading ul li:hover {
    background-color: var(--toastui-editor-color-primary);
    color: var(--toastui-editor-color-primary-text);
}

.toastui-editor-popup-add-heading h1 {
    font-size: 24px;
}

.toastui-editor-popup-add-heading h2 {
    font-size: 22px;
}

.toastui-editor-popup-add-heading h3 {
    font-size: 20px;
}

.toastui-editor-popup-add-heading h4 {
    font-size: 18px;
}

.toastui-editor-popup-add-heading h5 {
    font-size: 16px;
}

.toastui-editor-popup-add-heading h6 {
    font-size: 14px;
}

/* blockquote popup */
.toastui-editor-popup-add-blockquote {
    width: auto;
}

.toastui-editor-popup-add-blockquote .toastui-editor-popup-body {
    padding: 0 .5rem;
}

.toastui-editor-popup-add-blockquote ul {
    padding: 5px 0;
    list-style: none;
    margin: 0;
}

.toastui-editor-popup-add-blockquote ul li {
    padding: 8px 12px;
    margin-bottom: .25rem;
    cursor: pointer;
    border: 1px solid var(--toastui-editor-border-color);
    border-left: 4px solid transparent;
    border-radius: var(--toastui-editor-border-radius);
}
.toastui-editor-popup-add-blockquote ul li.active,
.toastui-editor-popup-add-blockquote ul li:hover {
    background-color: var(--toastui-editor-color-primary) !important;
    color: var(--toastui-editor-color-primary-text) !important;
}

.toastui-editor-popup-add-blockquote ul li[data-type="default"] {
    border-color: var(--toastui-editor-light-border-subtle);
    border-left-color: var(--toastui-editor-light-border-subtle);
    color: var(--toastui-editor-light-text-emphasis);
    background-color: var(--toastui-editor-light-bg-subtle);
}

.toastui-editor-popup-add-blockquote ul li[data-type="danger"] {
    border-color: var(--toastui-editor-danger-border-subtle);
    border-left-color: var(--toastui-editor-danger-border-subtle);
    color: var(--toastui-editor-danger-text-emphasis);
    background-color: var(--toastui-editor-danger-bg-subtle);
}

.toastui-editor-popup-add-blockquote ul li[data-type="info"] {
    border-color: var(--toastui-editor-info-border-subtle);
    border-left-color: var(--toastui-editor-info-border-subtle);
    color: var(--toastui-editor-info-text-emphasis);
    background-color: var(--toastui-editor-info-bg-subtle);
}

.toastui-editor-popup-add-blockquote ul li[data-type="warning"] {
    border-color: var(--toastui-editor-warning-border-subtle);
    border-left-color: var(--toastui-editor-warning-border-subtle);
    color: var(--toastui-editor-warning-text-emphasis);
    background-color: var(--toastui-editor-warning-bg-subtle);
}

.toastui-editor-popup-add-blockquote ul li[data-type="success"] {
    border-color: var(--toastui-editor-success-border-subtle);
    border-left-color: var(--toastui-editor-success-border-subtle);
    color: var(--toastui-editor-success-text-emphasis);
    background-color: var(--toastui-editor-success-bg-subtle);
}

@media only screen and (max-width: 480px) {
    .toastui-editor-popup {
        max-width: 300px;
        margin-left: -150px;
    }

    .toastui-editor-dropdown-toolbar {
        max-width: none;
    }
}
