/* Mode Switch Tab Styles */
.toastui-editor-mode-switch {
  background-color: var(--toastui-editor-mode-switch-bg-color);
  border-top: 1px solid var(--toastui-editor-border-color);
  font-size: 12px;
  text-align: right;
  height: 28px;
  padding-right: 10px;
}

.toastui-editor-mode-switch .tab-item {
  display: inline-block;
  width: 96px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: var(--toastui-editor-mode-switch-bg-color);
  color: var(--toastui-editor-mode-switch-color);
  margin-top: -1px;
  margin-right: -1px;
  cursor: pointer;
  border: 1px solid var(--toastui-editor-border-color);
  border-radius: 0 var(--toastui-editor-border-radius);
  font-weight: 500;
  box-sizing: border-box;
}

.toastui-editor-mode-switch .tab-item.active {
  border-top: 1px solid transparent;
  background-color: var(--toastui-editor-mode-switch-bg-color-active);
  color: var(--toastui-editor-mode-switch-color-active);
}
