/* WYSIWYG Container Styles */
.toastui-editor-ww-container {
    display: none;
    overflow: hidden;
    height: inherit;
    background-color: var(--toastui-editor-bg-color);
    color: var(--toastui-editor-color);
}

.toastui-editor-viewer-container {
    height: inherit;
    overflow: hidden;
    position: relative;
}

.toastui-editor-ww-container>.toastui-editor {
    height: inherit;
    position: relative;
    width: 100%;
}
.toastui-editor-viewer-container .toastui-editor-contents,
.toastui-editor-ww-container .toastui-editor-contents {
    overflow: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: .75rem 2rem;
    height: inherit;
}

.toastui-editor-ww-container .toastui-editor-contents p {
    margin: 0;
}

.toastui-editor-ww-mode .toastui-editor-ww-container {
    display: block;
    z-index: 20;
}

/* Block Quote Feature Styles */
.toastui-editor-ww-block-quote {
    position: relative;
    cursor: text;
}

.toastui-editor-ww-block-quote::after {
    content: '\e011';
    font-family: "Iconify Explorer Font" !important;
    font-size: .75em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: var(--toastui-editor-color);
    border: 1px solid var(--toastui-editor-border-color);
    border-radius: var(--toastui-editor-border-radius);
    cursor: pointer;
}

.toastui-editor-ww-block-quote-type {
    position: absolute;
    top: -2px;
    right: 8px;
    background: var(--toastui-editor-secondary-bg-color);
    border: 1px solid var(--toastui-editor-border-color);
    border-radius: var(--toastui-editor-border-radius);
    box-shadow: var(--toastui-editor-box-shadow);
    z-index: 1000;
    font-size: 12px;
    padding: .5rem 0;
    pointer-events: auto;
}

.toastui-editor-ww-block-quote-type button {
    display: block;
    position: relative;
    padding: 0 12px;
    width: 90px;
    margin: .5rem;
    cursor: pointer;
    color: var(--toastui-editor-color);
    transition: all 0.15s ease;
    margin-bottom: .5rem;
    cursor: pointer;
    border: 1px solid var(--toastui-editor-border-color);
    border-left: 4px solid transparent;
    border-radius: var(--toastui-editor-border-radius);
    height: 36px;
    line-height: 36px;
    text-align: left;
}

.toastui-editor-ww-block-quote-type button::after {
    content: '';
    width: calc(100% + 1rem + 5px);
    height: calc(100% + 9px);
    position: absolute;
    top: -5px;
    left: calc(-0.5rem - 4px);
    background-color: transparent;
    border-left: 4px solid transparent;
    z-index: -1;
}
.toastui-editor-ww-block-quote-type button:hover:after,
.toastui-editor-ww-block-quote-type button.active::after {
    background-color: var(--toastui-editor-primary-bg-subtle);
    border-left-color: var(--toastui-editor-primary-border-subtle);
}


.toastui-editor-ww-block-quote-type button[value="default"] {
    border-color: var(--toastui-editor-light-border-subtle);
    border-left-color: var(--toastui-editor-light-border-subtle);
    color: var(--toastui-editor-light-text-emphasis);
    background-color: var(--toastui-editor-light-bg-subtle);
}

.toastui-editor-ww-block-quote-type button[value="danger"] {
    border-color: var(--toastui-editor-danger-border-subtle);
    border-left-color: var(--toastui-editor-danger-border-subtle);
    color: var(--toastui-editor-danger-text-emphasis);
    background-color: var(--toastui-editor-danger-bg-subtle);
}

.toastui-editor-ww-block-quote-type button[value="info"] {
    border-color: var(--toastui-editor-info-border-subtle);
    border-left-color: var(--toastui-editor-info-border-subtle);
    color: var(--toastui-editor-info-text-emphasis);
    background-color: var(--toastui-editor-info-bg-subtle);
}

.toastui-editor-ww-block-quote-type button[value="warning"] {
    border-color: var(--toastui-editor-warning-border-subtle);
    border-left-color: var(--toastui-editor-warning-border-subtle);
    color: var(--toastui-editor-warning-text-emphasis);
    background-color: var(--toastui-editor-warning-bg-subtle);
}

.toastui-editor-ww-block-quote-type button[value="success"] {
    border-color: var(--toastui-editor-success-border-subtle);
    border-left-color: var(--toastui-editor-success-border-subtle);
    color: var(--toastui-editor-success-text-emphasis);
    background-color: var(--toastui-editor-success-bg-subtle);
}

.toastui-editor-ww-block-quote-type button[value="note"] {
    border-color: var(--toastui-editor-primary-border-subtle);
    border-left-color: var(--toastui-editor-primary-border-subtle);
    color: var(--toastui-editor-primary-text-emphasis);
    background-color: var(--toastui-editor-primary-bg-subtle);
}
